body {
    background: rgb(255, 236, 67);
    color: rgb(146, 107, 0);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(134, 110, 0);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(214, 175, 0);
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: rgb(59, 42, 0);
}

/* main container area beneath menu */
main {
    background: rgb(255, 213, 24);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-top: 110px;
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.Content {
    position: absolute;
    flex: 1;
    padding: 15px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgba(28, 229, 255, 0) ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}

/* Portfolio styles */
.content h1 {
  color: rgb(146, 107, 0);
  padding-bottom: 10px;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: rgb(216, 158, 0);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #ffeeb4;
}

#portfolio a {
  text-decoration: none;
  color: rgb(112, 86, 0);
}